In [13]:
## car game engine 
command = ""
while command.lower()!= 'quit':
    command = input("> ").lower()
    if command == "start":
        print("Car Started ...")
    elif command == "stop":
        print("Car Stopped....")
    elif command == "help":
        print(""" 
        start -  to start the car
        stop -   to stop the car
        quit  - to quit """)
    else:
        print(" sorry we don,t understand")

>  start

Car Started ...

>  help

        start -  to start the car
        stop -   to stop the car
        quit  - to quit

>  quity

 sorry we don,t understand

>  quit

 sorry we don,t understand

In [15]:
##for loop 

for item in [1,2,3,4,5,6,7,8,9]:
    print(item)

1
2
3
4
5
6
7
8
9

In [26]:
prices = [10,20,30]
total = 0
for price in prices:
    total += price
    print(f"total : {total}")

total : 10
total : 30
total : 60

In [27]:
## nested loop

for x in range(4):
    for y in range(3):
        print(f'{x},{y}')

0,0
0,1
0,2
1,0
1,1
1,2
2,0
2,1
2,2
3,0
3,1
3,2

In [34]:
numbers = [5,2,5,2,2]
for x_count in numbers:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [42]:
##list
names = ['jhon','aman','harsh','pulkit','katey']
names[0] = 'jon'
print(names)

['jon', 'aman', 'harsh', 'pulkit', 'katey']

In [47]:
numbers = [20,44,55,66,77,88,99,90]
max = numbers [0]
for number in numbers:
    if number > max:
        max = number
print(max)

99